*{
    margin: 0px;
}
body{

}
.hero-section{
 height: 700px;
 width: 100%;
 background-color: antiquewhite;
}
.navbar{
 height: 100px;
 width: 100%; 
 background-color: aqua;
}
.container1{

}
.container2{
    
}
.container3{
    
}
.container4{
    
}
.container5{
    
}
footer{

}