*{
    margin: 0px;
}
body{

}
.hero-section{
 height: 700px;
 width: 100%;
 background-color: white;
}
.navbar{
 height: 100px;
 width: 100%; 
 
}
.logo img {
    height: 60px;
    width: 120px;
}
.container1{

}
.container2{
    
}
.container3{
    
}
.container4{
    
}
.container5{
    
}
footer{

}